* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline-color: transparent;
}

:root {
    color-scheme: light;
    --h1: #e73230;
    --h2: #20b9d6;
    --h3: #ef7c00;
    --h4: #85bc22;
    --h5: #00963f;

    font-size: min(calc(4px + .8vw), 16px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        scroll-padding: 8rem;
    }
}

html {
    height: 100%;
    background-color: greenyellow;
}

body {
    background-image: url(assets/wiese.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

main {
    padding: 4rem 8rem;
    display: grid;
    gap: 2rem;
}

#switch {
    background-color: chocolate;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: .125em;
    border: .125em solid chocolate;
    border-radius: 100vh;
    overflow: hidden;
}

#switch svg {
    color: chocolate;
}

#switch div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    height: 100%;
    background-color: white;
    color: chocolate;
    cursor: pointer;
}

#switch div.active {
    background-color: bisque;
}

#switch div:hover, #switch div:focus-visible {
    background-color: bisque;
}

.animal-div {
    display: grid;
    max-width: 80rem;
    margin: 0 auto;
    background-color: white;
    border-radius: 1.6rem;
    overflow: hidden;
    border: 1rem solid
}

.animal-div.haltungsform-1 {
    border-color: var(--h1);
}
.animal-div.haltungsform-2 {
    border-color: var(--h2);
}
.animal-div.haltungsform-3 {
    border-color: var(--h3);
}
.animal-div.haltungsform-4 {
    border-color: var(--h4);
}
.animal-div.haltungsform-5 {
    border-color: var(--h5);
}

.img {
    position: relative;
    max-height: 30vh;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img::after {
  position: absolute;
  width: 6rem;
  bottom: 0;
  right: 4px;
}

.animal-div.haltungsform-1 .img::after {
    content: url(assets/haltungsformen/1.svg);
}
.animal-div.haltungsform-2 .img::after {
    content: url(assets/haltungsformen/2.svg);
}
.animal-div.haltungsform-3 .img::after {
    content: url(assets/haltungsformen/3.svg);
}
.animal-div.haltungsform-4 .img::after {
    content: url(assets/haltungsformen/4.svg);
}
.animal-div.haltungsform-5 .img::after {
    content: url(assets/haltungsformen/5.svg);
}

.table {
    margin: 2rem;
    text-align: center;
    border: .125rem solid chocolate;
    color: chocolate;
    border-radius: .6rem;
    font-size: 1.2rem;
}

.table .upgrade {
    color: green;
}

td, th {
    padding: 1.6rem;
}

tr:nth-child(even) {
    background-color: bisque;
}

.btn {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.btn button {
    font-size: 1.2rem;
    padding: 1em 2em;
    border-radius: .6em;
    cursor: pointer;
    color: white;
}

.animal-div.haltungsform-1 .btn .upgrade-btn {
    background-color: var(--h2);
}
.animal-div.haltungsform-1 .btn .downgrade-btn {
    cursor: not-allowed;
    background-color: rgba(128, 128, 128, .2);
    color: rgba(128, 128, 128, .8);
}
.animal-div.haltungsform-2 .btn .upgrade-btn {
    background-color: var(--h3);
}
.animal-div.haltungsform-2 .btn .downgrade-btn {
    background-color: var(--h1);
}
.animal-div.haltungsform-3 .btn .upgrade-btn {
    background-color: var(--h4);
}
.animal-div.haltungsform-3 .btn .downgrade-btn {
    background-color: var(--h2);
}
.animal-div.haltungsform-4 .btn .upgrade-btn {
    background-color: var(--h5);
}
.animal-div.haltungsform-4 .btn .downgrade-btn {
    background-color: var(--h3);
}
.animal-div.haltungsform-5 .btn .upgrade-btn {
    cursor: not-allowed;
    background-color: rgba(128, 128, 128, .2);
    color: rgba(128, 128, 128, .8);
}
.animal-div.haltungsform-5 .btn .downgrade-btn {
    background-color: var(--h4);
}