* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline-color: transparent;
}

:root {
    color-scheme: light;

    font-size: min(calc(4px + .8vw), 16px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: antiquewhite;
}

body {
    display: grid;
    min-height: 100vh;
}

header {
    background-color: greenyellow;
    background-image: url(assets/wiese.png);
    background-size: cover;
    background-position: bottom;
    max-height: 45vh;
    min-height: 40rem;
    text-align: center;
    position: relative;
    border-bottom: .5rem solid darkgreen;
}

h1 {
    padding-top: 4rem;
    color: bisque;
    font-size: 4rem;
    text-shadow: -.05em -.05em 0 chocolate, .05em -.05em 0 chocolate, -.05em .05em 0 chocolate, .05em .05em 0 chocolate;
}

label {
    color: bisque;
    font-size: 1.6rem;
    text-shadow: -.05em -.05em 0 chocolate, .05em -.05em 0 chocolate, -.05em .05em 0 chocolate, .05em .05em 0 chocolate;
}

a {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 4rem;
    border-radius: 1rem;
    background-color: greenyellow;
    border: .4rem solid darkgreen;
    color: darkgreen;
    font-size: 1.2rem;
}

main {
    padding: 4rem 8rem;
}

section {
    padding: 1rem;
    max-width: 60rem;
    margin-inline: auto;
}

h2 {
    font-size: 2rem;
}

p {
    line-height: 1.6em;
}

footer {
    background-color: darkgreen;
    padding: 2rem 4rem;
    text-align: center;
    color: antiquewhite;

}